

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="mystyles.css">
    <title>Toys</title>
</head>
<body>
    


        <%- include('header') %>
    
      <main>
        
        
        
        
          <main>
            <div class="grid-row">
              <% mydata.forEach((toy)=>{ %>
               <div class="grid-item">
                <%= toy.title.slice(0,30) %>
                <div class="b"><a href="<%= toy.url %>" target="_blank">
                  Buy
                </a></div>

                </div>
               <%})%>
              </div>
              </main>
        
        
        
        
        
        
        
        
        
        
          
        
          
          
          
      </main>
    
      <%- include ('footer') %>
      
    
      
    </body>
</html>